#imageOutfit {
    background-color: white;
}

.carousel.carousel-slider .control-arrow:hover {
    background:#69c8c9!important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    top: 20px;
    background: 0 0;
    border: 0;
    font-size: 32px;
}

.btn-success {
    position:absolute;
    top:0;
    right:0;
    
}


.btn-infos {
    background-color: purple !important;
    
    
}

.btn {
    color: white;
    text-align: center;
    
}


