.bk-love {
    background-color: #69c8c9!important;
}

nav .navbar-nav li a{
    color: white !important;
    }


    nav .navbar-nav li a {
        position:relative;
        z-index: 1;
      }
      nav .navbar-nav li a:hover {
        color: #91640F;
      }
      nav .navbar-nav li a:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '.';
        color: transparent;
        background: #f6c557;
        visibility: none;
        opacity: 0;
        z-index: -1;
      }
      nav .navbar-nav li a:hover:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
      }
      

      