
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

.pink{
background-color:pink;
/* border: 1px dashed red; */
height: 150px;
width: 100%;
}

.parent{
display:flex;
}

.parent .yellow {
background-color:yellow;
/* border: 1px dashed red; */
height: 150px;
width: 50%;
margin-right: 5px;
}

.parent .yel2 {
background-color:yellow;
/* border: 1px dashed red; */
height: 150px;
width: 50%;
}